.page.theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --hover-color: #FF0070;
  --record-color: var(--bg-color);
  --title-decor: #ff8dcb;
  --nav-color: var(--text-color);
  --corner-color : var(--text-color);
  --article-header: var(--text-color);
  --article-title-color: var(--text-color);
  --section-title-color: var(--text-color);
  --background-image: url(../images/cover-image-light.png);
  --hover-var: 1px solid rgba(50, 49, 45, 0.40);
}
