/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* @media (prefers-color-scheme : dark) { */
:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --hover-color: #353430;
  --record-color: #FF0070;
  --title-decor: var(--record-color);
  --nav-color: var(--title-shadow);
  --corner-color : var(--title-shadow);
  --article-header: var(--bg-color);
  --background-image: url(../images/cover-image-dark.png);
  --hover-var: 1px solid rgba(255, 0, 112, 0.40);
}
/* } */